<form  method="post" action="/hogwarts" >
  <label for="first_name">Firstname</label>
  <input id= "first_name" type="text" name="first_name" >
  <label for="last_name">Lastname</label>
  <input id= "last_name" type="text" name="last_name" >
  <label for="house">House</label>
  <select id="select_house" name="house_id">
      <option value="1"> Gryffindor</option>
      <option value="2"> Ravenclaw</option>
      <option value="3"> Slytherin</option>
    </select>
      <label for="age">Age</label>
    <input id= "age" type="number" name="age" >
    <input type="submit" value="create student"/>

</form>
